# Environment
.env

# Data
*.db
*.db.backup
*.db.backup.*
data/

# Logs
*.log
logs/

# Binary
tgvpn_bot
rs8kvn_bot
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out

# Go
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
